<div class="authentication-container">
  <img src="assets/images/sign_in.svg"/>
  <form class="authentication-content" [formGroup]="formGroup">
    <span class="login-label"
    >{{ isSetRegistered ? "Register" : "Log in" }}
    </span>
    <label>Username<span *ngIf="isSetRegistered">*</span></label>
    <input formControlName="username" type="text"/>
    <ng-container *ngIf="isSetRegistered">
      <div
        *ngIf="
          formGroup.controls['username'].invalid &&
          formGroup.controls['username'].dirty
        "
        class="alert"
      >
        <div *ngIf="formGroup.controls['username'].errors">
          Username has to contain at least 5 characters.
        </div>
      </div>
      <label>First name*</label>
      <input formControlName="firstName" type="text"/>
      <label>Last name*</label>
      <input formControlName="lastName" type="text"/>
      <label>Email*</label>
      <input formControlName="email" type="text"/>
      <div
        *ngIf="
          formGroup.controls['email'].invalid &&
          formGroup.controls['email'].dirty
        "
        class="alert"
      >
        <div *ngIf="formGroup.controls['email'].errors">
          Email invalid
        </div>
      </div>
    </ng-container>
    <label>Password<span *ngIf="isSetRegistered">*</span></label>
    <input formControlName="password" type="password"/>
    <ng-container *ngIf="isSetRegistered">
      <div
        *ngIf="
          formGroup.controls['password'].invalid &&
          formGroup.controls['password'].dirty
        "
        class="alert"
      >
        <div *ngIf="formGroup.controls['password'].errors">
          Password has to contain at least 5 characters.
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="isSetRegistered">
      <label>Phone Number*</label>
      <input formControlName="phoneNumber" type="text"/>
    </ng-container>

    <!-- Student credentials -->
    <ng-container *ngIf="isSetRegistered&&isOfferer">
      <select formControlName="universityId" class='select-option' #selectUniversity
              (change)='setSelectedUniversityId(selectUniversity.value)'>
        <option value="notuniversity">Select a university</option>
        <option class='option'
                *ngFor='let university of universities'
                [value]="university.id">{{university.name}}</option>
      </select>
    </ng-container>
    <ng-container *ngIf="isSetRegistered&&isOfferer&&isSelected">
      <select formControlName="facultyId" class='select-option'>
        <option class='option'
                *ngFor='let faculty of faculties'
                [value]="faculty.id">{{faculty.name}}</option>
      </select>
    </ng-container>
    <ng-container *ngIf="isSetRegistered">
      <span class="not-registered">
      <input type="checkbox" (click)="setOfferer()"/>
      <p>
        {{ isOfferer ? "Uncheck if you're not a student" : "I'm a student" }}
      </p>
    </span>
    </ng-container>


    <span class="not-registered">
      <input type="checkbox" (click)="setRegister()"/>
      <p>
        {{ isSetRegistered ? "Uncheck if you want to log in" : "Check if you want to register" }}
      </p>
    </span>

    <button type="button" (click)="authenticate()">
      <span>{{ isSetRegistered ? "Register" : "Login" }}</span>
    </button>
  </form>
</div>
