<div class="authentication-container">
  <img src="assets/images/sign_in.svg">
  <form class="authentication-content"
        [formGroup]="formGroup">
    <span class="login-label">{{isSetRegistered? 'Register': 'Log in'}} </span>
    <label>Username</label>
    <input formControlName="username"
           type="email" />
    <ng-container *ngIf="isSetRegistered">
      <label>First name</label>
      <input formControlName="firstName"
              type="text" />
      <label>Last name</label>
      <input formControlName="lastName"
              type="text" />
      <label>Email</label>
      <input formControlName="email"
              type="text" />
    </ng-container>
    <label>Password</label>
    <input formControlName="password"
           type="password" />
    <ng-container *ngIf="isSetRegistered">
      <label>User Type</label>
      <input formControlName="userType"
             type="text" />
    </ng-container>

    <span class="not-registered"><input type="checkbox"
             (click)="setRegister()" />
      <p>{{isSetRegistered? 'Go back to log in': 'I am not registered yet'}}</p>
    </span>

    <button type="button"
            (click)="authenticate()"><span>{{isSetRegistered? 'Register': 'Login'}}</span></button>
  </form>
</div>
