<div class="page-container">
  <h1>
    My Redeemed Vouchers
  </h1>
  <div class="coupon-filter">
    <form  [formGroup]="formGroup">
      <select formControlName="couponStatus" class='select-option' >
        <option value="NotSelected">Not selected</option>
        <option value="Used">Used</option>
        <option value="NotUsed">Not Used</option>
        <option value="Expired">Expired</option>
      </select>
      <button type="button" (click)="filterRedeemedCoupons()">
        <span>Filter</span>
      </button>
    </form>
  </div>

  <div class="cards">
    <app-tile *ngFor="let voucher of redeemedVoucherList"
              label="{{voucher.coupon.name}}"
              background="{{getCategoryImage(voucher.coupon.category)}}"
              (click)="goToVoucher(voucher.id)">
    </app-tile>
  </div>
</div>
