@import "../../../assets/styles/layout.scss";

h1 {
  margin-left: 20px;
  color:red;
}
.form-section  h4{
  margin-left: 20px;
  color:red;
}
.felx-row-space-around{
  width: 30%;
  padding: 10px;
  display:flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: "Open Sans";
  background-color:white;
  border-radius: 8px;
  box-shadow: 0px 0px 8px rgba(0, 23, 87, 0.08);
}

.form-section h1 {
  margin-left: 20px;
  color:pink;

}
.form-section img{
  width:80%;
  height:auto;

}

.flex-row-space-around {
  margin: 20px;
}

.image-section img {
display:flex;
height: 200px;
margin-left: 0px !important;
margin-right: 0px;
margin-bottom: auto;
}

.form-section {
  width: 30%;
  padding: 200px;
  display:flex;
  //align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: "Open Sans";
  background-color:white;
  border-radius: 8px;
  box-shadow: 0px 0px 8px rgba(0, 23, 87, 0.08);
}

.editor-container {
  padding-top: 40px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.editor-container img {
  width: 35%;
  height: 35%;
}

.editor-container .head-label {
  font-size: 23px;
  font-family: "Open Sans";
  margin-top: 10px;
  margin-bottom: 35px;
}

.editor-content {
  display: flex;
  width: 50%;
  max-height: 90%;
  min-height: 70%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 0px 8px rgba(0, 23, 87, 0.08);
}

.editor-container .editor-content input,select {
  width: 50%;
  height: 30px;
  margin-bottom: 10px;
  font-family: "Open Sans";
  border: 1px solid #e3e9f7;
  border-radius: 8px;
  outline: none;
}
.editor-container .editor-content textarea {
  width: 50%;
  resize: none;
  margin-bottom: 10px;
  font-family: "Open Sans";
  border: 1px solid #e3e9f7;
  border-radius: 8px;
  outline: none;
}

.editor-container .editor-content label {
  font-family: "Open Sans";
}

.editor-container .editor-content button {
  background-color: #54c4a8;
  border: 0;
  outline: 0;
  cursor: pointer;
  width: 20%;
  height: 40px;
  margin-bottom: 20px;
  border-radius: 8px;
  font-family: "Open Sans";
  font-weight: bold;
}

.editor-container .editor-content button span {
  font-size: 16px;
  color: white !important;
}

@media (max-width: 900px) {
  .editor-container {
    flex-direction: column;
  }
  .editor-content{
    width: 80%;
  }
  .editor-container .editor-content input,select {
    width: 90%;
    height: 30px;
    margin-bottom: 10px;
    font-family: "Open Sans";
    border: 1px solid #e3e9f7;
    border-radius: 8px;
    outline: none;
  }
  .editor-container .editor-content textarea {
    width: 90%;
    margin-bottom: 10px;
    font-family: "Open Sans";
    border: 1px solid #e3e9f7;
    border-radius: 8px;
    outline: none;
  }
}
