<h1>
  Voucher Details
</h1>

<div class="flex-row-space-around">
  <section class="image-section">

    <img src="../../assets/images/voucher.svg"
           alt="Voucher image" />


  </section>
  <!-- TO DO: Stupid css doesnt work -_--->
  <section class="form-section">
    <h1 style="text-align: center; ">{{ name }}</h1>


    <img src="../../assets/images/others.svg"
         alt="Voucher image" />
    <p>Available until: {{expirationDate}}</p>
    <div class="coupon-description">Description: {{description}}</div>
      <button *ngIf="isStudent" (click)="redeemCoupon()">Redeem</button>
  </section>
</div>

<div class="flex-row-space-around">
  <div class="form-section">
    <h2 style="text-align: center;">Comments</h2>
    <div>

        <form class="comment-section" [formGroup]="commentFormGroup">
          <textarea formControlName="Content"
                    onfocus="if (this.value == 'Your comment goes here:') {this.value=''}">Your comment goes here:</textarea><br>
          <button type="button" (click)="postComment()">Comment</button>
        </form><br>

    </div>
    <div id="addedComment" *ngFor="let commentary of comments">
      <h2 id="userComment">{{commentary["user"]["userName"]}}:</h2>
      <h3 id="date">22.10.2020</h3>
      <h4 id="commentContent">{{commentary["content"]}}</h4><br>
    </div>
  </div>
</div>
