<div class="page-container" *ngIf="currentUser != null">
  <h1 style="text-align: center; margin: 20px;">
    All Vouchers
  </h1>
  <div class="cards" *ngIf="currentUser.role !== 'Admin'">
    <app-tile *ngFor="let voucher of voucherList"
              label="{{voucher.name}}"
              background="{{getCategoryImage(voucher.category)}}"
              (click)="goToVoucher(voucher.id)">
    </app-tile>
  </div>
  <div class="cards" *ngIf="currentUser.role === 'Admin'">
    <div>
      <app-tile *ngFor="let voucher of voucherList"
                label="{{voucher.name}}"
                background="{{getCategoryImage(voucher.category)}}">
      </app-tile>
    </div>
  </div>
  <div class="pagination">
    <a *ngFor="let count of iterablePages; let i = index"
        (click)="goToPage(i+1);">
      {{i+1}}
    </a>
  </div>
</div>
