<div class="flex-row-space-around">
  <section class="image-section">

    <img src="../../assets/images/voucher.svg"
         alt="Voucher image" />
  </section>
  <section class="form-section">
    <h1 style="text-align: center; ">{{ redeemedVoucherModel.coupon.name }}</h1>
    <img src="../../assets/images/others.svg"
         alt="Voucher image" /><br>
    <p>Available until: {{redeemedVoucherModel.coupon.expirationDate.toString().replace('.', 'T').split('T').slice(0, 2).join(' ')}}</p>
    <div class="coupon-description" id="coupon-description"><span>{{redeemedVoucherModel.coupon.description}}</span> </div>
    <br>
    <div class="coupon-description" id="coupon-status">{{redeemedVoucherModel.status}}</div>
    <br>
    <button *ngIf="redeemedVoucherModel.status === 'NotUsed' " class="update-button" (click)="updateRedeemedCoupon()"><span>Use</span></button>
    <button class="delete-button" (click)="deleteRedeemedCoupon()"><span>Delete</span></button>
  </section>
</div>
