<div class="container">
  <div *ngIf="isStudent">
    <app-tile label="All Vouchers"
              icon="list"
              (click)="goToPage('list')"></app-tile>
    <app-tile label="My Vouchers"
              icon="create"
              (click)="goToPage('profile/redeemed-vouchers')"></app-tile>
  </div>
  <div *ngIf="isOfferer">
    <app-tile label="All Vouchers"
              icon="list"
              (click)="goToPage('list')"></app-tile>

    <app-tile label="My Vouchers"
              icon="create"
              (click)="goToPage('profile/added-vouchers')"></app-tile>

    <app-tile label="Create a voucher"
              icon="create"
              (click)="goToPage('profile/create-voucher')"></app-tile>
  </div>
  <div *ngIf="isAdmin">
    <app-tile label="All Vouchers"
              icon="list"
              (click)="goToPage('list')"></app-tile>
    <app-tile label="Statistics"
              icon="create"
              (click)="goToPage('admin/statistics')"></app-tile>
  </div>
</div>
